<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title><%= pageTitle %> </title>
    <!-- Favicon-->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body class="theme-orange">
    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <form class="card auth_form" method="POST" action="/login">
                        <div class="header">
                            <img class="logo" src="/assets/images/logo.svg" alt="Company Logo">
                            <h5>Log in</h5>
                        </div>
                        <div class="body">
                            <% if(errorMessage) { %>
                            <div>
                                <p class="text-danger">
                                    <%= errorMessage %> 
                                </p>
                            </div>
                            <% } %>
                            <div class="input-group mb-3">
                                <input
                                value="<%= oldInput.email %>" 
                                type="text"
                                class="<%= (validationErrors.find(e => e.param === 'username') || errorMessage) ? 'form-control-danger' : '' %> form-control"
                                class="form-control-danger"
                                placeholder="email"
                                name="email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input
                                type="text"
                                class="<%= (validationErrors.find(e => e.param === 'password') || errorMessage) ? 'form-control-danger' : '' %> form-control"
                                placeholder="Password"
                                name="password">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="zmdi zmdi-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf"/>
                            <input type="submit" value="SIGN IN" class="btn btn-primary btn-block waves-effect waves-light"/>
                        </div>
                    </form>
                    <div class="copyright text-center">
                        &copy; <%= new Date().getFullYear() %> ,
                        <span>Designed by <a href="https://thememakker.com/" target="_blank">ThemeMakker</a></span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="/assets/images/signin.svg" alt="Sign In" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
</body>

</html>