<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href=""><img src="assets/images/logo.svg" width="25" alt="Aero"><span class="m-l-10">Aero</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"/></a>
                    <div class="detail">
                        <h4><%= user.firstName %></h4>
                        <small><%= user.role %></small>                        
                    </div>
                </div>
            </li>
            <li class="<%= (path === '/') ? 'active open' : '' %>"><a href="/"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
            <li class="<%= (path === '/profile') ? 'active open' : '' %>"><a href="/profile"><i class="zmdi zmdi-account"></i><span>My Profile</span></a></li>
            <li class="<%= (path === '/trips') ? 'active open' : '' %>"><a href="/trips"><i class="zmdi zmdi-hc-fw"></i><span>Trips</span></a></li>
            <% if (user.role === 'Administrator') { %>
                <li class="<%= (path === '/stations') ? 'active open' : '' %>"> <a href="/stations"><i class="zmdi zmdi-store-24"></i><span>Stations</span></a></li>
                <li class="<%= (path === '/users') ? 'active open' : '' %>"> <a href="/users"><i class="zmdi zmdi-assignment"></i><span>Users</span></a></li>
            <% } %>
            <li class="<%= (path === '/s') ? 'active open' : '' %> "> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-folder"></i><span>File Manager</span></a>
                <ul class="ml-menu">
                    <li><a href="file-dashboard.html">All File</a></li>
                    <li><a href="file-documents.html">Documents</a></li>
                    <li><a href="file-images.html">Images</a></li>
                    <li><a href="file-media.html">Media</a></li>
                </ul>
            </li>
            <li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-warning w-100 btn-round mr-1"><i class="zmdi zmdi-hc-fw"></i>    Log Out</button>
                </form>
            </li>
        </ul>
    </div>
</aside>
<input id="csrfToken" type="hidden" value="<%= csrfToken %>"/>