<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href=""><img src="/website/icons/logo.png" width="25" alt="BayRoute Taxi"><span class="m-l-10">Admin Panel</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image"></a>
                    <div class="detail">
                        <h4>
                            <%= user.firstName %>
                        </h4>
                        <small><%= user.role %></small>
                    </div>
                </div>
            </li>
            <li class="<%= (path === '/profile') ? 'active open' : '' %>"><a href="/profile"><i
                        class="zmdi zmdi-account"></i><span>My Profile</span></a></li>
            <li class="<%= (path === '/trips') ? 'active open' : '' %>"><a href="/trips"><i
                        class="zmdi zmdi-hc-fw"></i><span>Trips</span></a></li>
            <% if (user.role === 'Administrator') { %>
                <li class="<%= (path === '/tripTypes') ? 'active open' : '' %>"> <a href="/tripTypes"><i
                                class="zmdi zmdi-tag-more"></i><span>Trip Types</span></a></li>
                <li class="<%= (path === '/stations') ? 'active open' : '' %>"> <a href="/stations"><i
                                    class="zmdi zmdi-store-24"></i><span>Stations</span></a></li>
                <li class="<%= (path === '/users') ? 'active open' : '' %>"> <a href="/users"><i
                                        class="zmdi zmdi-assignment-account"></i><span>Users</span></a></li>
                <% } %>
                    <li class="<%= (path === '/feedbacks' || path === '/issues' || path === '/business-purposes' || path === '/feature-requests') ? 'active open' : '' %>">
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="zmdi zmdi-assignment"></i>
                            <span>Contact</span>
                        </a>
                        <ul class="ml-menu">
                            <li class="<%= (path === '/feedbacks') ? 'active open' : '' %>"><a href="/feedbacks">Feedbacks</a></li>
                            <li class="<%= (path === '/issues') ? 'active open' : '' %>"><a href="/issues">Issues</a></li>
                            <li class="<%= (path === '/business-purposes') ? 'active open' : '' %>"><a href="/business-purposes">Business Purposes</a></li>
                            <li class="<%= (path === '/feature-requests') ? 'active open' : '' %>"><a href="/feature-requests">Feature Requests</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout" class="btn btn-warning w-100 btn-round mr-1">
                            <i class="zmdi zmdi-hc-fw"></i><span>Logout</span>
                        </a>
                    </li>
        </ul>
    </div>
</aside>
<input id="csrfToken" type="hidden" name="_csrf" value="<%= csrfToken %>">